:root {
    --primary-color: #008E28;
    --title-color: #535353;
    --footer-bg-color: #535353;
    --footer-links-color: #FFFFFF;
    --main-bg-color: #FFFFFF;
    --top-menu-bar-color: #F3F3F3;
    --card-bg-color: #F3F3F3;
    --card-border-color: #C4C4C4;
    --card-bg-color-light: #FFFFFF;
    --text-color: #535353;
}