<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bumbu | Sign Up</title>

    <!-- Roboto Font -->
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
    </style>
    <link rel="stylesheet" href="/styles/root.css">
    <link rel="stylesheet" href="/styles/forms.css">
</head>

<body>
    <nav>
        <div class="top-menu">
            <div>
                <a href="#">Sign In</a>
                <div class="vertical-separator"></div>
                <a href="sign_up.html">Sign Up</a>
            </div>
        </div>
        <div class="bottom-menu">
            <a class="brand" href="#">Bumbu</a>
            <ul>
                <li><a href="#">HOME</a></li>
                <li><a href="#">BLOG</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">CONTACT US</a></li>
            </ul>
            <ul>
                <li style="position: relative; margin-right: 30px;">
                    <a class="icon-link" href="#">
                        <img class="icon" src="/images/shopping-cart.svg" alt="cart" />
                    </a>
                    <span class="counter">20</span>
                </li>
                <li style="position: relative; margin-right: 16px;">
                    <a href="#" class="icon-link">
                        <img class="icon" src="/images/heart.svg" alt="cart" />
                    </a>
                    <span class="counter">20</span>
                </li>
            </ul>
        </div>
    </nav>
    <main>
        <div class="center">
            <form>
                <h2 class="form-heading center">Sign Up</h2>
                <div class="form-group">
                    <label>Enter your email address</label>
                    <input class="form-control" type="text" name="email" />
                </div>
                <div class="form-group">
                    <label>Enter your name</label>
                    <input class="form-control" type="text" name="name" />
                </div>
                <div class="form-group">
                    <label>Enter your password</label>
                    <input class="form-control" type="password" name="password" />
                </div>
                <div class="form-group">
                    <label>Confirm your password</label>
                    <input class="form-control" type="password" name="password" />
                </div>
                <div class="form-group">
                    <button class="btn">Sign Up</button>
                </div>
                <div class="extras-prompt form-group">
                    <p>If you already have an account, then <a href="sign_in.html">sign in.</a></p>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div>
            <a href="#" class="footer-header">Bumbu Co. 2022</a>
        </div>
        <div>
            <a href="#" class="footer-header">Quick Links</a>
            <ul>
                <li>
                    <a href="">
                        <img class="quick-link-icon" src="/images/quick-link-icon.svg" alt='quick-link-icon' />
                        <span>Home</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img class="quick-link-icon" src="/images/quick-link-icon.svg" alt='quick-link-icon' />
                        <span>Blog</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img class="quick-link-icon" src="/images/quick-link-icon.svg" alt='quick-link-icon' />
                        <span>Terms & Conditions</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img class="quick-link-icon" src="/images/quick-link-icon.svg" alt='quick-link-icon' />
                        <span>FAQ</span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <a href="#" class="footer-header">Talk to Us</a>
            <ul>
                <li>
                    <a href="">
                        <img class="quick-link-icon" src="/images/quick-link-icon.svg" alt='quick-link-icon' />
                        <span>Contact Us</span>
                    </a>
                </li>
            </ul>
        </div>
        <div>
            <a href="#" class="footer-header">Recent Blogs</a>
            <ul>
                <li>
                    <ul>
                        <li>
                            <a href="" class="footer-blog-title">
                                <img class="quick-link-icon" src="/images/quick-link-icon.svg" alt='quick-link-icon' />
                                <span>Why Bumbu Sauce</span>
                            </a>
                            <p class="footer-blog-date">2nd August 2018</p>
                        </li>
                        <li>
                            <a href="" class="footer-blog-title">
                                <img class="quick-link-icon" src="/images/quick-link-icon.svg" alt='quick-link-icon' />
                                <span>Why Bumbu Sauce</span>
                            </a>
                            <p class="footer-blog-date">2nd August 2018</p>
                        </li>
                        <li>
                            <a href="" class="footer-blog-title">
                                <img class="quick-link-icon" src="/images/quick-link-icon.svg" alt='quick-link-icon' />
                                <span>Why Bumbu Sauce</span>
                            </a>
                            <p class="footer-blog-date">2nd August 2018</p>
                        </li>

                    </ul>
                </li>
            </ul>
        </div>
    </footer>
</body>

</html>